<div class="navbar">
  <ul class="list-inline">
    <li class="list-inline-item"><a routerLink="/login">Login</a></li>
    <li class="list-inline-item"><a routerLink="/news">News</a></li>
    <li class="list-inline-item"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="list-inline-item"><a routerLink="/logout">LogOut</a></li>
  </ul>
</div>
<!--
<div  class="container">
<ul class="list-inline">
<li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">FB</a></li>
<li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">G+</a></li>
<li class="list-inline-item"><a class="social-icon text-center" target="_blank" href="#">T</li>
</ul>
</div>
-->