<div class="container">
  <div class="row">
    <div class="col-lg-4">
      Test unrestricted resource<button (click)="testUnrestrictedResourceResult()" class="btn btn-primary">Test1</button> 
    </div>      
    <div class="col-lg-4">
      Result: {{ unrestrictedResourceResult }}
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4">
        Test GET restricted resource<button (click)="testRestrictedResourceGETResult()" class="btn btn-primary">Test2</button>
      </div>
      <div class="col-lg-8">
        Result: {{ restrictedResourceGETResult }}
      </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
        Test POST restricted resource<button (click)="testRestrictedResourcePOSTResult()" class="btn btn-primary">Test3</button>
    </div>
    <div class="col-lg-8">
        Result: {{ restrictedResourcePOSTResult }}
    </div>
  </div>
</div>
